<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<h1>single post</h1>
<h3 th:text="${post.title}"></h3>
<h5 th:text="${post.body}"></h5>

<h5 th:text="${post.postDetails.historyOfPost}"></h5>
<h5 th:text="${post.postDetails.topicDescription}"></h5>
<div style="display: flex; flex-wrap: wrap">
    <div th:each="image : ${post.postImage}">
        <div>
            <img th:src="${image.url}" style="height: 300px; margin-left: 10px; margin-right: 10px;"/>
        </div>
    </div>
</div>

<!---->
<h4 th:text="${post.user.email}"></h4>

</body>
</html>