<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="main-nav">
    <div class="navbar-brand">
        <a class="navbar-item" href="/posts">
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/0de58711-79d4-49aa-b5f7-f2e5bec57065-profile_image-70x70.png" width="60" height="60">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/posts" class="navbar-item">
                Home
            </a>

            <a href="/posts/create" class="navbar-item">
                Create a Post!
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a href="/posts" class="navbar-item">
                        placeholder
                    </a>
                    <a href="/posts" class="navbar-item">
                        placeholder
                    </a>
                    <a href="/posts" class="navbar-item">
                        placeholder
                    </a>
                    <hr class="navbar-divider">
                    <a href="/posts" class="navbar-item">
                        Also a placeholder :)
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <form th:action="@{/sign-up}" th:method="get">
                        <button class="button is-primary is-hovered m-r-sm" style="margin-top: 8px">Sign-Up</button>
                    </form>
                    <form th:action="@{/login}" th:method="get">
                        <button class="button is-light is-hovered m-r-sm" style="margin-top: 8px">Login</button>
                    </form>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="button is-light is-hovered m-r-sm" style="margin-top: 8px">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>




<!----------------------------------------------------------->
<!--<nav th:fragment="main-nav">-->
<!--    <ul style="display: flex; justify-content: space-evenly">-->
<!--        <li>-->
<!--            <form th:action="@{/posts}" th:method="get">-->
<!--                <button class="button is-link is-hovered" style="margin-top: 8px">Home</button>-->
<!--            </form>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form th:action="@{/posts/create}" th:method="get">-->
<!--                <button class="button is-link is-hovered" style="margin-top: 8px">Write a Post</button>-->
<!--            </form>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form th:action="@{/sign-up}" th:method="get">-->
<!--                <button class="button is-link is-hovered" style="margin-top: 8px">Sign-Up</button>-->
<!--            </form>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form th:action="@{/login}" th:method="get">-->
<!--                <button class="button is-link is-hovered" style="margin-top: 8px">Login</button>-->
<!--            </form>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form th:action="@{/logout}" th:method="post">-->
<!--                <button class="button is-link is-hovered" style="margin-top: 8px">Logout</button>-->
<!--            </form>-->
<!--        </li>-->
<!--    </ul>-->

<!--</nav>-->


</body>
</html>