<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--    <link th:insert="partials/head :: head"></link>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child">

        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child">
            <p> testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting</p>

        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child">
            <p> testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting</p>

        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child">
<p> testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting</p>
        </div>
    </div>
</div>

</body>
</html>